body{
  background-color: ivory;
}

.navbar-custom {
   background-color: rgb(231, 251, 231);
  
}
.fa-refresh{
  color: rgb(131, 130, 130);
}
.container-align {
    background-color: ivory;
    
}

h1{
  text-align: center;
  margin-top: 40px;
  color: azure;
  }
.custom-container{
  width:fit-content;
  border-radius: 20px;
  
  background-color: rgb(58, 57, 57);
}
.Hex, .results {
  width:100%;
  display: flex;
  margin: 25px 0px;
}

.Hex{
  justify-content: center;
}

.Hex h2 {
  font-size: 45px;
  font-weight: bold;
  color: azure;
  background-color: rgb(58, 57, 57);
  border-radius: 10px;
}


.results{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results h2{
  font-size: 40px;
  color:  rgb(58, 57, 57);
}
.row-alto{
  height: 600px;
}
.circle-modified {
  background: pink;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

#one {
  animation: mymove1 6s infinite;
  position: relative;
}

@keyframes mymove1 {
  0%   {top: 0px;}
  50%  {top: 200px;}
  45%  {top: 50px}
  100% {top: 100px;}
}

#two{
  position: relative;
  animation: mymove2 4s infinite;
}

@keyframes mymove2 {
  0%   {top: 0px;}
  25%  {top: 200px;}
  75%  {top: 50px}
  100% {top: 100px;}
}

#three {
  position: relative;
  animation: mymove3 7s infinite;
}
@keyframes mymove3 {
  0%   {top: 0px;}
  20%  {top: 100px;}
  75%  {top: 25px}
  100% {top: 50px;}
 
 
}